<nav class="navbar navbar-expand-lg" style="background-color: rgb(192, 221, 255);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ECM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="dashboard">Se connecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner"> -->
  <!-- <img
    width="80"
    alt="Angular Logo"
    src="../assets/imgs/dxc_logo.PNG"
  /> -->
  <!-- <span style="font-size:20px; margin-left: 40px;">ECM</span> -->
    <!-- <div class="spacer"></div> -->
<!-- </div> -->
<router-outlet></router-outlet>